
.content{
    width: 50%;
    margin: 0 auto;
}
.content .ABOUT{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(51,51,51);
}
.hr{
    height: 5px;
    width: 53px;
    background: rgb(51,51,51);
    margin: 10px  auto 0 auto;
}
.text{
    color: rgb(51,51,51);
    text-align: center;
    margin: 20px  0 80px 0;
    font-size: 30px;
}
.contents{
    color: rgb(51,51,51);
    font-size: 16px;
    line-height: 200%;
    text-indent:2em;
}