.content{
    margin-top: 80px;
    padding-left: 10px;
}
.page-header>h3{
    margin-left: 10px;
}
.container{
    margin-top: 30px;
}
.btn{
    margin-right: 20px;
}
.table tbody tr td:last-child{
    width: 300px;
}
.table tbody tr td,th{
    vertical-align: middle;
}
.add_detail{
    display: none;
    margin: 50px auto auto 200px;
}
.form-control{
    width: 40%;
}
.modal{
    top:110px;
}
.detail_img img{
    width: 50px;
    height: 50px;
}
.pagination-container{
    margin-top: -20px;
}
