<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <script src="__PUBLIC__/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/goodsdetail/goods_detail.css">
    <script src="__PUBLIC__/js/page/paginathing.js"></script>
    <script src="__PUBLIC__/js/back-news/news.js"></script>


</head>
<body>
<div class="content">
    <div class="page-header">
        <h2>新闻动态展示</h2>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">新闻展示</a></li>
        <li role="presentation"><a href="#">添加新闻</a></li>
    </ul>
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <th>编号</th>
            <th>新闻标题</th>
            <th>新闻内容</th>
            <th>新闻图片</th>
            <th>新闻日期</th>
            <th>操作</th>
            </thead>
            <tbody>
            <volist name="all" id="vo">
                <tr>
                    <td class="newsid ">{$vo.newsid}</td>
                    <td class="newstitle ">{$vo.newstitle}</td>
                    <td class="newscontent ">{$vo.newscontent}</td>
                    <td class="newsimg detail_img "><img src="__PUBLIC__/upload-newsimg/{$vo.newsimg}"></td>
                    <td class="newsdata ">{$vo.newsdata}</td>
                    <td>
                        <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#myModal">编辑</button>
                        <button type="button" class="btn btn-danger">删除</button>
                    </td>
                </tr>

            </volist>
            </tbody>
        </table>
    </div>

    <div class="add_detail">
        <form method="post" action="add_news" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputPassword1">新闻标题</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="newstitle">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">新闻内容</label>
                <textarea style="height: 100px" class="form-control" id="exampleInputPassword2" name="newscontent"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">新闻图片</label>
                <input type="file" id="exampleInputFile" name="newsimg">
            </div>
            <button type="submit" class="btn btn-default">确定添加</button>
        </form>
    </div>

    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新闻修改</h4>
                </div>
                <div class="modal-body">
                    <div class="alert_detail">
                        <form method="post" action="alert_news" enctype="multipart/form-data">
                            <input type="text"  style="display: none" class="idhide" name="newsid">
                            <div class="form-group">
                                <label for="exampleInputPassword1">新闻标题</label>
                                <input type="text" class="form-control" id="exampleInputPassword3" name="newstitle">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">新闻内容</label>
                                <textarea style="height: 100px" class="form-control" id="exampleInputPassword4" name="newscontent"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">新闻图片</label>
                                <input type="file" id="exampleInputFile2" name="newsimg">
                            </div>
                            <button type="submit" class="btn btn-default ">确定修改</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>